<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Update Contact</title>
</head>
<body>
<section>
    <div class="card mr-6">
        <div class="card-body">
            <a href="#" th:href="@{/user/show-contacts/0}" class="par-contact-back"><i class="fa-solid fa-arrow-left"></i></a>
            <h1 class="text-center">Update Contact</h1>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form
                                action="#"
                                th:object="${contact}"
                                enctype="multipart/form-data"
                                method="post"
                                th:action="@{/user/process-update}"
                                class="mt-2"
                        >
                            <input type="hidden" th:value="${contact.cId}" name="cId">
                            <div class="contaner text-center mt-1 mb-2">
                                <img style="height: 250px; width: 250px" class="img-fluid profile_picture" th:src="@{'/img/' + ${contact.image}}" />
                            </div>
                            <!-- First Name -->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                                <input th:value="${contact.name}" type="text" id="name" name="name" placeholder="Enter name here" class="form-control">
                            </div>
                            <!-- NickName -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-user-alt"></i>
                                    </div>
                                </div>
                                <input th:value="${contact.nickName}" type="text" id="nickName" name="nickName" placeholder="Enter nick name here" class="form-control">
                            </div>

                            <!-- Phone number -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <input th:value="${contact.phoneNo}" type="text" id="phoneNo" name="phoneNo" placeholder="Enter phone number here" class="form-control">
                            </div>

                            <!-- Email -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        @
                                    </div>
                                </div>
                                <input th:value="${contact.email}" type="email" id="email" name="email" placeholder="Enter email here" class="form-control">
                            </div>

                            <!-- Work -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                </div>
                                <input th:value="${contact.work}" type="text" id="work" name="work" placeholder="Enter work here" class="form-control">
                            </div>

                            <!-- Description -->
                            <div class="form-group mt-3">
                                <textarea th:text="${contact.description}" name="description" id="mytextarea" rows="20" class="form-control"></textarea>
                            </div>

                            <p class="text-secondary mt-2">Choose a profile picture</p>
                            <div class="custom-file mt-3">
                                <input type="file" name="profileImage">
                            </div>
                            <div class="container text-center mt-3">
                                <button class="btn btn-outline-primary">Save Contact</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
</section>
</body>
</html>